/* ==========================================================================
   Font sizes and line heights
   ========================================================================== */

// @mixin font-size($size: 1, $line: $size * 1.5) {
//    font-size:     ($size * 10) + px;
//    line-height:   ($line * 10) + px;
//    font-size:     $size + rem;
//    line-height:   $line + rem;
// }

@mixin font-size($size: 1) {
   font-size:     ($size * 10) + px;
   font-size:     $size + rem;
}

@mixin line-height($height: 1) {
   line-height:     ($height * 10) + px;
   line-height:     $height + rem;
}


/* ==========================================================================
   Colours
   ========================================================================== */




/* ==========================================================================
   Wrappers
   ========================================================================== */



