    <footer class="footer">

        <div class="wrap cf">

            <div class="grid">

                <div class="col">

                    <h3>Get in touch</h3>

                    <p>The quickest way to contact me is to send me a tweet on <a href="//twitter.com/kplattret" target="_blank">Twitter</a>. You can also email me on <a href="mailto:kevin@plattret.me">kevin@plattret.me</a>.</p>

                </div>

                <div class="col">

                    <h3>Colophon</h3>

                    <p>Designed, developed and maintained by <a href="{{ site.url }}/about">Kevin Plattret</a>. Hosted by <a href="//mediatemple.net">(mt)</a>. Fonts served by <a href="//typekit.com/fonts">Typekit</a>.</p>

                </div>

            </div>

        </div>

    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ site.url }}/assets/js/plugins.js"></script>
    <script src="{{ site.url }}/assets/js/main.js"></script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-26055002-2');ga('send','pageview');
    </script>

</body>
</html>
