<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" }}">
  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">

  <script src="https://use.typekit.net/met3mkf.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
