<header class="header">
  <div class="wrap">
    <div class="inwrap clearfix">
      <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>

      <nav class="main-navigation">
        <ul class="clearfix">
          {% for p in site.pages %}
            {% if p.in_nav %}
              {% if page.url == p.url or p.title == "Blog" and page.layout == "post" %}
                {% assign link_class = "active"  %}
              {% else %}
                {% assign link_class = "" %}
              {% endif %}

              <li><a class="{{ link_class }}" href="{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
