<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.url == "/" %}
    <title>{{ site.title }}, {{ page.title }}</title>
  {% else %}
    <title>{{ page.title }} – {{ site.title }}</title>
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" }}">
  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
</head>
