$color-primary: #ccc;
$color-secondary: #555;
$color-secondary-alt: #888;
$color-link: #237b49;
$color-link-alt: #50bb7e;

html {
  font-size: 10px;
  line-height: 1.4;
  background: #111;
}

body {
  margin: 6rem auto 10rem;
  font-size: 1.8rem;
  font-family: Courier, monospace;
  color: $color-primary;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 2.2rem 0;
}

img {
  max-width: 100%;
}

a,
a:focus,
a:visited {
  color: $color-link;
}

a.alt {
  font-weight: bold;
  color: $color-primary;
  text-decoration: none;
}

a:hover,
a.alt:hover {
  color: $color-link-alt;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

time {
  display: block;
  font-style: italic;
  color: $color-secondary-alt;
}

hr {
  display: block;
  width: 30%;
  height: 1px;
  border: 0;
  border-top: 2px solid $color-secondary;
  margin: 3rem auto;
  padding: 0;
}

.header,
.content,
.footer {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.header {
  margin-bottom: 7rem;
  font-size: 2.4rem;

  .navigation {
    float: right;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 1rem;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}

.content {
  .post-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-top: 2.2rem;
    }

    a {
      display: block;
      font-size: 2.4rem;
    }
  }

  .post-title {
    margin-bottom: 0;

    & + time {
      margin-bottom: 4rem;
    }
  }
}

.footer {
  margin-top: 7rem;
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: bold;
  color: $color-secondary;
  letter-spacing: -.02rem;

  & > p {
    padding-top: 1rem;
    border-top: 2px solid $color-secondary;
  }

  a {
    color: $color-secondary;

    &:hover {
      color: $color-secondary-alt;
    }
  }
}
