/* ==========================================================================
     Desktop to Tablet Landscape
     ========================================================================== */

@media only screen and (max-width: 909px) {

    .inwrap {
        padding: 0 5.2rem;
    }

    .content {
        .featured {
            code {
                font-size: 72px;
                line-height: normal;
            }
        }
    }

}


/* ==========================================================================
     Any mobile device below 700px wide
     ========================================================================== */

@media only screen and (max-width: 700px) {

    .header {
        .site-title {
            margin: 3rem 0;
            width: 100%;
            text-align: center;
        }

        .main-navigation {
            width: 100%;
            text-align: center;

            ul {
                margin: 0;
            }

            li {
                margin: 0;
                width: 33.33%;
            }

            a {
                padding: 12px 8px;

                &:hover {
                    color: #666;
                    background: none;
                }

                &.active {
                    color: $secondary-color;
                    background: none;
                }
            }
        }
    }

    .content {
        .featured {
            code {
                padding: 30px 0;
                font-size: 50px;
                line-height: normal;
            }
        }
    }

    .footer {
        .grid {
            .col {
                width: 100%;
                
                &:first-child {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

}


/* ==========================================================================
     Mobile Landscape to Tablet Portrait
     ========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    html {
        font-size: 55%;
    }

    .inwrap {
        padding: 0 4rem;
    }

}


/* ==========================================================================
     Mobile Portrait to Mobile Landscape
     ========================================================================== */

@media only screen and (max-width: 479px) {

    html {
        font-size: 50%;
    }

    .inwrap {
        padding: 0 2.5rem;
    }

    .header {
        .inwrap {
            padding: 0 .5rem;
        }
    }

    .content {
        .featured {
            code {
                padding: 20px 0;
                font-size: 34px;
                line-height: normal;
            }
        }
    }

}
