<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if page.title %}{{ page.title }} | {% endif %}
      {{ site.title }}, {{ site.description }}
    </title>

    <link rel="stylesheet" href="/css/main.css?{{ site.time | date: "%s%N" }}">
    <link rel="canonical" href="{{ page.url | replace: "index.html", "" | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
      href="{{ site.url }}/feed.xml">
  </head>

  <body>
    <header class="header">
      <a href="/" class="alt">{{ site.title }}</a>

      <nav class="navigation">
        <ul>
          {% assign pages = site.html_pages | where_exp: "page", "page.title != nil" %}

          {% for page in pages %}
            <li><a href="{{ page.url }}" class="alt">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <section class="content">
      {% if page.title != nil %}<h1>{{ page.title }}</h1>{% endif %}

      {{ content }}
    </section>

    <footer class="footer">
      <p>Written by {{ site.title }} in London and other places. Source code available on <a
        href="{{ site.source_url }}">GitHub</a>. Feel free to reach out via <a href="mailto:{{
        site.email }}">email</a>.</p>
    </footer>
  </body>
</html>
