---
layout: default
---

<div class="featured">

    <img src="/assets/img/{{ page.banner }}" width="910" height="390" alt="{{ page.title }}">

</div>

<article class="story wrap cf">

    <h1>{{ page.title }}</h1>

    <time>
        {% assign d = page.date | date: "%-d"  %}
        {{ page.date | date: "%A," }}
        {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st
            {% when '2' or '22' %}{{ d }}nd
            {% when '3' or '23' %}{{ d }}rd
            {% else %}{{ d }}th
        {% endcase %}
        {{ page.date | date: "%B %Y" }}
    </time>

    {{ content }}

</article>

{% if page.comments %}

    <section class="comments wrap cf">

        <h2>Discussion</h2>

        <div id="disqus_thread"></div>

    </section>

{% endif %}
