html {
  font-size: 62.5%; // equals to 10px
  line-height: 1.4;
  background: $color-background;
}

body {
  margin: 6rem auto 10rem;
  font-size: 1.8rem;
  font-family: Courier, monospace;
  color: $color-primary;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection,
::selection {
  background: $color-selection;
  text-shadow: none;
}

p {
  margin: 2.2rem 0;
}

img {
  display: block;
  max-width: 100%;
}

a,
a:focus,
a:visited {
  color: $color-link;
}

a.alt {
  font-weight: bold;
  color: $color-primary;
  text-decoration: none;
}

a:hover,
a.alt:hover {
  color: $color-link-alt;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;

  span {
    font-size: 2rem;
    color: $color-secondary;
  }
}

h3 {
  font-size: 2.4rem;
}

time {
  display: block;
  font-style: italic;
  color: $color-secondary-alt;
}

hr {
  display: block;
  width: 33.33%;
  height: 1px;
  border: 0;
  border-top: 2px solid $color-secondary;
  margin: 4rem auto;
  padding: 0;
}

blockquote {
  margin: 3rem 6rem 3rem 4rem;
  padding: .5rem 0 .5rem 2rem;
  border-left: solid .6rem $color-link;

  p {
    margin: 0;
    font-weight: bold;
    line-height: 1.25;

    & + p {
      margin-top: 1.5rem;

      &:last-child {
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 1.1;
        color: $color-secondary-alt;

        a {
          font-style: italic;
          color: $color-secondary-alt;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}
