@media only screen and (min-width: 600px) {
  .content {
    .book-list {
      &.recent {
        li {
          &:nth-child(4n) {
            margin-right: 0;

            & + li {
              margin-left: 0;
            }
          }
        }
      }

      &:not(.recent) {
        li {
          &:nth-child(6n) {
            margin-right: 0;

            & + li {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  body {
    margin: 4rem auto;
  }

  h1,
  h2,
  h3 {
    line-height: 1.2;
  }

  .header {
    margin-bottom: 5rem;
  }

  .content {
    .highlight {
      margin-top: 7rem;
      font-size: 2.8rem;
    }

    .book-list {
      &.recent {
        text-align: center;

        li {
          margin-right: 3%;
          margin-left: 3%;
          width: 33%;

          &:first-child {
            margin-left: 0;
          }

          &:nth-child(2n) {
            margin-right: 0;

            & + li {
              margin-left: 0;
            }
          }
        }
      }

      &:not(.recent) {
        li {
          margin-right: 2%;
          margin-left: 2%;
          width: 22%;

          &:first-child {
            margin-left: 0;
          }

          &:nth-child(4n) {
            margin-right: 0;

            & + li {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .footer {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    width: 100%;
    text-align: center;

    a {
      display: inline-block;
    }

    .navigation {
      float: none;
      margin-top: 2rem;
      width: 100%;
      text-align: center;

      ul {
        display: inline-block;
      }
    }
  }

  .content {
    .book-list.recent li,
    article > .book-image {
      width: 43%;
    }

    article > .book-image {
      display: block;
      margin: 6rem auto 3.5rem;

      & + header {
        width: 100%;
      }
    }
  }
}
