@charset "utf-8";

$color-primary: #ccc;
$color-secondary: #555;
$color-secondary-alt: #888;
$color-link: #299b5a;
$color-link-alt: #50bb7e;

@import "base";
@import "sections";
@import "responsive";
